.tableContainer {
  margin: 1rem 0;
  border: 1px solid var(--ifm-color-emphasis-200);
  border-radius: 0.5rem;
  overflow: hidden;
}

.toggleButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem 1rem;
  background: linear-gradient(90deg, #64748b, #90b3a3);
  color: white;
  border: none;
  text-align: left;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
}

.toggleIcon {
  transition: transform 0.5s ease-in-out;
}

.tableContainer.open .toggleIcon {
  transform: rotate(90deg);
}

.toggleButton:hover {
  background-color: var(--ifm-color-primary-dark);
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.6s ease-in-out;
}

.table.open {
  max-height: 1000px;
}

.table th,
.table td {
  padding: 0.75rem;
  border: 1px solid var(--ifm-color-emphasis-200);
}

.table th {
  background-color: var(--ifm-color-emphasis-100);
  font-weight: 600;
  text-align: left;
}

.table td {
  vertical-align: top;
}

.table tr:nth-child(even) {
  background-color: var(--ifm-color-emphasis-50);
}
